In [1]:
import pandas as pd
import numpy as np

In [2]:
seattle = pd.read_csv("./rawdata/KSEA.csv")
houston = pd.read_csv("./rawdata/KHOU-2.csv")
nyc = pd.read_csv("./rawdata/KNYC.csv")
la = pd.read_csv("./rawdata/CQT.csv")
chicago = pd.read_csv("./rawdata/MDW.csv")
philadelphia = pd.read_csv("./rawdata/PHL.csv")
pheonix = pd.read_csv("./rawdata/PHX.csv")

In [3]:
# Seattle
newSeattle = seattle.copy()
newSeattle['average_temp'] = newSeattle[['average_min_temp','average_max_temp']].mean(axis=1)
# newSeattle.insert(0, 'city', 'Seattle, WA')
newSeattle[['average_temp', 'average_precipitation']]
seattle_average_temp_year = newSeattle["average_temp"].mean()
seattle_average_prec_year = newSeattle["average_precipitation"].sum()

In [4]:
# Houston
newHouston = houston.copy()
newHouston['average_temp'] = newHouston[['average_min_temp','average_max_temp']].mean(axis=1)
newHouston[['average_temp', 'average_precipitation']]
houston_average_temp_year = newHouston["average_temp"].mean()
houston_average_prec_year = newHouston["average_precipitation"].sum()

In [5]:
# LA
newLa = la.copy()
newLa['average_temp'] = newLa[['average_min_temp','average_max_temp']].mean(axis=1)
newLa[['average_temp', 'average_precipitation']]
la_average_temp_year = newLa["average_temp"].mean()
la_average_prec_year = newLa["average_precipitation"].sum()

In [6]:
# NYC
newNyc = nyc.copy()
newNyc['average_temp'] = newNyc[['average_min_temp','average_max_temp']].mean(axis=1)
newNyc[['average_temp', 'average_precipitation']]
nyc_average_temp_year = newNyc["average_temp"].mean()
nyc_average_prec_year = newNyc["average_precipitation"].sum()

In [7]:
# chicago
newChicago = chicago.copy()
newChicago['average_temp'] = newChicago[['average_min_temp','average_max_temp']].mean(axis=1)
newChicago[['average_temp', 'average_precipitation']]
chicago_average_temp_year = newChicago["average_temp"].mean()
chicago_average_prec_year = newChicago["average_precipitation"].sum()

In [8]:
# philadelphia
newPhiladelphia = philadelphia.copy()
newPhiladelphia['average_temp'] = newPhiladelphia[['average_min_temp','average_max_temp']].mean(axis=1)
newPhiladelphia[['average_temp', 'average_precipitation']]
philadelphia_average_temp_year = newPhiladelphia["average_temp"].mean()
philadelphia_average_prec_year = newPhiladelphia["average_precipitation"].sum()

In [9]:
# pheonix
newPheonix = pheonix.copy()
newPheonix['average_temp'] = newPheonix[['average_min_temp','average_max_temp']].mean(axis=1)
newPheonix[['average_temp', 'average_precipitation']]
pheonix_average_temp_year = newPheonix["average_temp"].mean()
pheonix_average_prec_year = newPheonix["average_precipitation"].sum()

In [10]:
# data = {'temperature': [seattle_average_temp_year, houston_average_temp_year, nyc_average_temp_year, la_average_temp_year, chicago_average_temp_year, philadelphia_average_temp_year, pheonix_average_temp_year],
#         'precipitation': [seattle_average_prec_year, houston_average_prec_year, nyc_average_prec_year, la_average_prec_year, chicago_average_prec_year, philadelphia_average_prec_year, pheonix_average_prec_year],
#         }
  
# # Creates pandas DataFrame.
# df = pd.DataFrame(data, index=['Seattle',
#                                'Houston',
#                                'New York City',
#                                'Los Angeles',
#                                'Chicago',
#                                'Philadelphia',
#                                'Pheonix'])
# df

In [15]:
data = {'Name': ['temperature', 'precipitation'],
        'Seattle': [seattle_average_temp_year, seattle_average_prec_year],
        'Houston': [houston_average_temp_year, houston_average_prec_year],
        'New York City': [nyc_average_temp_year, nyc_average_prec_year],
        'Los Angeles': [la_average_temp_year, la_average_prec_year],
        'Chicago': [chicago_average_temp_year, chicago_average_prec_year],
        'Philadelphia': [philadelphia_average_temp_year, philadelphia_average_prec_year],
        'Pheonix': [pheonix_average_temp_year, pheonix_average_prec_year]
}
  
# Creates pandas DataFrame.
df = pd.DataFrame(data)
df

,Name,Seattle,Houston,New York City,Los Angeles,Chicago,Philadelphia,Pheonix
0,temperature,52.682192,69.946575,55.047945,65.478082,51.505479,55.972603,75.109589
1,precipitation,37.490000,49.770000,49.940000,14.930000,39.090000,41.530000,8.030000

In [16]:
df.to_csv(r'finalData.csv', index = False)